<div class="banner" style="background-image: url(<%= cl_image_tag "b2kidoxiipwn2esizhsv", alt: "drink" %>);">
    <div class="banner container">
      <div class="btn-medium">
        <%= link_to "Add your own cocktail", new_cocktail_path %>
      </div>
    </div>

      <ul>
        <% @cocktails.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %>
        </li>
        <% end %>
      </ul>

</div>
